@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --dark-white: #f4f4f4;
  --black: #2d2d2d;
  --light-grey: #bfbfbf;
  --white: #f3f3f3;
  --text-color: #878787;
  --divider-color: #444444;
  --yellow: #ffeb3b;
}

.main-container {
  background-color: var(--black);
}

.about {
  height: calc(100vh - 100px);
}
.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.profile {
  max-width: 220px;
}

.circle-placeholder {
  border: 20px solid #515553;
  border-radius: 50%;
  display: inline-block;
}

.brackets {
  color: var(--yellow);
  -webkit-animation: flashing 4s linear infinite;
          animation: flashing 4s linear infinite;
  -webkit-transition: color;
  transition: color;
}

.subtitle {
  color: var(--light-grey);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
  width: 145px;
  display: inline-block;
  text-align: center;
  margin: 0 7px;
}

.title {
  color: var(--white);
  margin: 5px 0 20px;
}

.main-title-block {
  max-width: 450px;
  width: 80%;
  margin-right: 8%;
}

.wrapper {
  padding: 40px 8% 20px;
}

.section-title {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  color: var(--white);
  font-size: 20px;
  padding-bottom: 5px;
  margin: 20px 0;
}
.section-title:before, .section-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
}
.section-title:before {
  width: 100%;
  background-color: var(--text-color);
}
.section-title:after {
  background-color: var(--yellow);
  width: 25px;
}

.transition-flip-in-right {
  -webkit-animation: flipInLeft 0.5s both ease-out;
          animation: flipInLeft 0.5s both ease-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes flipInLeft {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2;
  }
}

@keyframes flipInLeft {
  from {
    -webkit-transform: translateZ(-1000px) rotateY(-90deg);
    transform: translateZ(-1000px) rotateY(-90deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes flashing {
  50% {
    color: #fff59e;
  }
  90% {
    color: var(--light-grey--color);
  }
  100% {
    color: #d7dbc3;
  }
}
@keyframes flashing {
  50% {
    color: #fff59e;
  }
  90% {
    color: var(--light-grey--color);
  }
  100% {
    color: #d7dbc3;
  }
}
.form-group {
  margin-bottom: 27px;
  position: relative;
}
.form-group input,
.form-group textarea {
  width: 100%;
}
.form-placeholder {
  position: absolute;
  left: calc(var(--bs-gutter-x) * 0.5 + 7px);
  top: 10px;
  padding: 0 5px;
  background-color: var(--black);
}
.form-placeholder.active {
  color: var(--yellow);
}

input,
textarea {
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 0;
  color: var(--white);
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--yellow);
}

input {
  height: 41px;
  padding: 5px 7px;
}

textarea {
  padding: 11px 7px;
  resize: none;
}

header,
footer {
  padding: 20px;
}

header {
  padding-top: 27px;
  height: 80px;
}

footer {
  border-top: 1px solid var(--divider-color);
  text-align: right;
}

.logo img {
  height: 50px;
}
.logo-title {
  margin-left: 11px;
  font-size: 1.3rem;
  display: inline;
  color: var(--white);
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons svg {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: #878787;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
.icons svg:hover {
  fill: var(--yellow);
}

.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preloader-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.preloader .circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--text-color);
  border-radius: 50%;
  -webkit-animation: 1.3s slidein ease-in infinite;
          animation: 1.3s slidein ease-in infinite;
  -webkit-transition: opacity;
  transition: opacity;
  opacity: 0.3;
}
.preloader .circle:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.preloader .circle:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.preloader .circle:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .main-container {
    border-radius: 40px;
    margin: 3% auto;
  }
}
@media (max-width: 1199px) {
  .main-container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: calc(100vh - 80px);
    min-height: 550px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about figure {
    text-align: center;
  }
  .about .main-title-block {
    text-align: center !important;
    margin-right: 0;
    margin-top: 40px;
  }

  .contact .main-title-block {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo-title {
    display: none;
  }
}
body {
  background-color: var(--dark-white);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 14px;
  min-width: 320px;
}

p {
  line-height: 1.45rem;
}

a {
  text-decoration: none;
}

.center {
  -ms-flex-item-align: center;
      align-self: center;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3Mvc3R5bGVzLnNhc3MiLCIuLi8uLi9zYXNzL190aGVtZXMuc2FzcyIsInN0eWxlcy5jc3MiLCIuLi8uLi9zYXNzL19jb250YWluZXIuc2FzcyIsIi4uLy4uL3Nhc3MvX2NvbnRhY3QtZm9ybS5zYXNzIiwiLi4vLi4vc2Fzcy9faGVhZGVyX2Zvb3Rlci5zYXNzIiwiLi4vLi4vc2Fzcy9fcHJlbG9hZGVyLnNhc3MiLCIuLi8uLi9zYXNzL19tZWRpYS5zYXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQU1RLDZGQUFBO0FDTlI7RUFDRSxxQkFBQTtFQUNBLGdCQUFBO0VBQ0EscUJBQUE7RUFDQSxnQkFBQTtFQUNBLHFCQUFBO0VBQ0Esd0JBQUE7RUFDQSxpQkFBQTtBQ0VGOztBQ1RBO0VBQ0ksOEJBQUE7QURZSjs7QUNWQTtFQUNJLDJCQUFBO0FEYUo7QUNaSTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EscUJBQUE7TUFBQSxrQkFBQTtVQUFBLG9CQUFBO0FEY1I7O0FDWkE7RUFDSSxnQkFBQTtBRGVKOztBQ2JBO0VBQ0ksMEJBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0FEZ0JKOztBQ2RBO0VBQ0ksb0JBQUE7RUFDQSw4Q0FBQTtVQUFBLHNDQUFBO0VBQ0EseUJBQUE7RUFBQSxpQkFBQTtBRGlCSjs7QUNmQTtFQUNJLHdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5QkFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0VBQ0EscUJBQUE7RUFDQSxrQkFBQTtFQUNBLGFBQUE7QURrQko7O0FDaEJBO0VBQ0ksbUJBQUE7RUFDQSxrQkFBQTtBRG1CSjs7QUNqQkE7RUFDSSxnQkFBQTtFQUNBLFVBQUE7RUFDQSxnQkFBQTtBRG9CSjs7QUNsQkE7RUFDSSxxQkFBQTtBRHFCSjs7QUNuQkE7RUFDSSxrQkFBQTtFQUNBLHlCQUFBO0VBQ0EscUJBQUE7RUFDQSxtQkFBQTtFQUNBLGVBQUE7RUFDQSxtQkFBQTtFQUNBLGNBQUE7QURzQko7QUNwQkk7RUFFSSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxTQUFBO0VBQ0EsT0FBQTtFQUNBLFdBQUE7QURxQlI7QUNuQkk7RUFDSSxXQUFBO0VBQ0EsbUNBQUE7QURxQlI7QUNwQkk7RUFDSSwrQkFBQTtFQUNBLFdBQUE7QURzQlI7O0FDcEJBO0VBQ0ksZ0RBQUE7VUFBQSx3Q0FBQTtFQUNBLGlDQUFBO1VBQUEseUJBQUE7QUR1Qko7O0FDckJBO0VBQ0k7SUFDSSxzREFBQTtJQUNBLDhDQUFBO0lBQ0EsWUFBQTtFRHdCTjtBQUNGOztBQzdCQTtFQUNJO0lBQ0ksc0RBQUE7SUFDQSw4Q0FBQTtJQUNBLFlBQUE7RUR3Qk47QUFDRjtBQ3ZCQTtFQUNJO0lBQ0ksY0FBQTtFRHlCTjtFQ3hCRTtJQUNJLCtCQUFBO0VEMEJOO0VDekJFO0lBQ0ksY0FBQTtFRDJCTjtBQUNGO0FDbENBO0VBQ0k7SUFDSSxjQUFBO0VEeUJOO0VDeEJFO0lBQ0ksK0JBQUE7RUQwQk47RUN6QkU7SUFDSSxjQUFBO0VEMkJOO0FBQ0Y7QUU5R0k7RUFDSSxtQkFBQTtFQUNBLGtCQUFBO0FGZ0hSO0FFL0dROztFQUVJLFdBQUE7QUZpSFo7QUVoSEk7RUFDSSxrQkFBQTtFQUNBLDBDQUFBO0VBQ0EsU0FBQTtFQUNBLGNBQUE7RUFDQSw4QkFBQTtBRmtIUjtBRWhIUTtFQUNJLG9CQUFBO0FGa0haOztBRWhIQTs7RUFFSSw2QkFBQTtFQUNBLG1DQUFBO0VBQ0EsZ0JBQUE7RUFDQSxtQkFBQTtBRm1ISjtBRWxISTs7RUFDSSxhQUFBO0VBQ0EsMkJBQUE7QUZxSFI7O0FFbkhBO0VBQ0ksWUFBQTtFQUNBLGdCQUFBO0FGc0hKOztBRXBIQTtFQUNJLGlCQUFBO0VBQ0EsWUFBQTtBRnVISjs7QUd6SkE7O0VBRUksYUFBQTtBSDRKSjs7QUcxSkE7RUFDSSxpQkFBQTtFQUNBLFlBQUE7QUg2Sko7O0FHMUpBO0VBQ0ksMENBQUE7RUFDQSxpQkFBQTtBSDZKSjs7QUcxSkk7RUFDSSxZQUFBO0FINkpSO0FHNUpJO0VBQ0ksaUJBQUE7RUFDQSxpQkFBQTtFQUNBLGVBQUE7RUFDQSxtQkFBQTtBSDhKUjs7QUc1SkE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHFCQUFBO01BQUEsa0JBQUE7VUFBQSxvQkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBSCtKSjtBRzlKSTtFQUNJLFlBQUE7RUFDQSxXQUFBO0VBQ0EsaUJBQUE7RUFDQSxhQUFBO0VBQ0EsNkJBQUE7RUFBQSxxQkFBQTtBSGdLUjtBRzlKUTtFQUNJLG1CQUFBO0FIZ0taOztBSWxNQTtFQUNJLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLFNBQUE7RUFDQSxPQUFBO0VBQ0EsUUFBQTtFQUNBLDhCQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7QUpxTUo7QUlwTUk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLFNBQUE7QUpzTVI7QUlwTUk7RUFDSSxXQUFBO0VBQ0EsWUFBQTtFQUNBLHFCQUFBO0VBQ0EsbUNBQUE7RUFDQSxrQkFBQTtFQUNBLGdEQUFBO1VBQUEsd0NBQUE7RUFDQSwyQkFBQTtFQUFBLG1CQUFBO0VBQ0EsWUFBQTtBSnNNUjtBSXJNUTtFQUNJLDZCQUFBO1VBQUEscUJBQUE7QUp1TVo7QUl0TVE7RUFDSSw2QkFBQTtVQUFBLHFCQUFBO0FKd01aO0FJdk1RO0VBQ0ksNkJBQUE7VUFBQSxxQkFBQTtBSnlNWjs7QUl2TUE7RUFDSTtJQUNJLFlBQUE7RUowTU47RUl6TUU7SUFDSSxVQUFBO0VKMk1OO0FBQ0Y7O0FJaE5BO0VBQ0k7SUFDSSxZQUFBO0VKME1OO0VJek1FO0lBQ0ksVUFBQTtFSjJNTjtBQUNGO0FLOU9BO0VBQ0k7SUFDSSxtQkFBQTtJQUNBLGVBQUE7RUxnUE47QUFDRjtBSy9PQTtFQUNJO0lBQ0ksZUFBQTtFTGlQTjtBQUNGO0FLaFBBO0VBQ0k7SUFDSSw0QkFBQTtJQUFBLDhCQUFBO1FBQUEsa0NBQUE7WUFBQSw4QkFBQTtJQUNBLDBCQUFBO0lBQ0EsaUJBQUE7SUFDQSx3QkFBQTtRQUFBLHFCQUFBO1lBQUEsdUJBQUE7RUxrUE47RUtqUE07SUFDSSx3QkFBQTtRQUFBLHFCQUFBO1lBQUEsdUJBQUE7RUxtUFY7RUtqUE07SUFDSSxrQkFBQTtFTG1QVjtFS2pQTTtJQUNJLDZCQUFBO0lBQ0EsZUFBQTtJQUNBLGdCQUFBO0VMbVBWOztFS2hQTTtJQUNJLFdBQUE7RUxtUFY7QUFDRjtBS2xQQTtFQUlJO0lBQ0ksYUFBQTtFTGlQTjtBQUNGO0FGN1FBO0VBQ0ksbUNBQUE7RUFDQSxrQ0FBQTtFQUNBLHdCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0FFK1FKOztBRjdRQTtFQUNJLG9CQUFBO0FFZ1JKOztBRjlRQTtFQUNJLHFCQUFBO0FFaVJKOztBRi9RQTtFQUNJLDJCQUFBO01BQUEsa0JBQUE7QUVrUko7O0FGaFJBO0VBQ0ksYUFBQTtBRW1SSiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */